ul, li,ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.index-hero {
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24a8dc, #31183d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.index-hero .hero-content {
    padding-top: 40px;
}
.index-hero .hero-content .h6 {
    line-height: 1.6;
    font-size: 1rem;
}

header .navbar-brand {
    position: absolute;
    left: 40px;
    top: 20px;
}
.main-content {
    background-color: #f5f5f5;
}
.navbar-intern {
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1a4150, #31183d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-intern .nav-link {
    color: rgba(255,255,255,0.65);
}
.navbar-intern a:hover {
    color: rgb(255, 255, 255);
}
.navbar-intern .nav-item.active .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-intern.navbar-wrapper {
    border-bottom: none;
}
.categories .btn {
    background-color: #fff;
    border-color: rgb(198, 223, 255);
}
.categories .btn.active {
    color: #24a8dc;
} 
/*INDEX*/
.templates-items .portfolio-title {
    font-size: 0.9rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.templates-items .portfolio-card, .uikit-items .portfolio-card {
    overflow: hidden;
    border-radius: 5px;
    
}
.templates-items .portfolio-card {
    border: 2px solid rgb(243, 243, 243);
}
.page-title {
    min-height: inherit;
    margin-bottom: 0!important;
    padding-bottom: 1rem;
}
.page-title p {
    font-size: 0.8rem;
}
.page-title strong {
    font-size: 0.7rem;
    color: rgb(30, 146, 255);
}
.portfolio-title {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0rem;
    text-transform: capitalize;
}
.portfolio-card {
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: left!important;
}
.portfolio-thumb {
    position: relative;
    min-height: 140px;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    box-shadow: none;
}
.portfolio-thumb .spinner-grow, .post-image .spinner-grow {
    position: absolute;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 50%;
    z-index: 0;
}
.portfolio-thumb img,.post-image img {
    position: relative;
    z-index: 1;
}
.portfolio-card:not(.card) .portfolio-card-body {
    padding: 1rem;
}
.tag-link {
    box-shadow: none;
    border: 1px solid #f5f5f5;
    color: #a2a2a2;
}
.post-title {
    text-transform: capitalize;
    font-weight: 700;
}
.post-paragr {
    font-size: 0.8rem;
}
.post-image {
    position: relative;
    min-height: 600px;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}
.colors_palette .table thead th,.colors_palette .table th,.colors_palette .table td{
    border-top : none;
}
.font-face-thumb {
    display: block;
    color: #333;
    text-decoration: none;
    padding-left: 5px;
    margin-top: 7px;
    margin-bottom: 5px;
}
.font-face-thumb .font-pict {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #e95b0d;
    color: #fff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 3px;
}
.font-face-thumb .font-name {
    text-transform: capitalize;
    padding-left: 5px;
}
.font-face-thumb:hover {
    color: rgb(0, 119, 255);
}

/*COLOR PALETTES*/
.color-palette-card li{
    list-style-type: none;
    position: relative;
    transition: all 0.3;
}
.color-palette-card li:hover .hex{
    opacity: 1;
}
.color-palette-card .main-color {
    height: 120px;
}
.color-palette-card .second-color {
    height: 60px;
}
.color-palette-card .third-color {
    height: 40px;
}
.color-palette-card .hex {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(1, 1, 1, 0.2);
    color: #fff;
    text-decoration: none;
    opacity: 0;
    transition: all 0.3;
}
.Landing-thumb {
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid #eee;
}
/*side bar*/
    .sidebar .colors_palette .circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: inline-block;
    }
    .colors_palette .title, .typography .title{
        text-transform: uppercase;
        font-size: 0.8rem;
    }
    .typography .table th {
        font-size: 16px;
    }
    .typography .table td {
        font-size: 14px;
    }
    .typography .table td,.typography .table th {
        padding: .5rem;
        vertical-align: top;
        border-top: 1px solid #f3f3f300;
    }
    .figma-note .text{
        font-size: 12px;
    }
/**/
.Tag-price {
    color: rgb(139, 190, 42);
    font-size: medium;
    background-color: rgb(236, 248, 225);
    border-radius: 5px;
    overflow: hidden;
}
.templates-items .portfolio-title{
    text-align: left;
}
/**/
@media only screen and (min-width: 920px) {
    .index-hero .hero-content {
        padding: 80px 0 0;
    }
    .index-hero .hero-content .h6 {
        line-height: 1.6;
        font-size: 1.3rem;
    }
    .palette-content .color-palette-card .main-color {
        height: 220px;
    }
    .palette-content .color-palette-card .second-color {
        height: 120px;
    }
    .palette-content .color-palette-card .third-color {
        height: 80px;
    }
    .palette-content .color-palette-download {
        float: right;
    }
    .palette-content .color-palette-title {
        float: left;
    }
    .sidebar.fixed-stat {
        position: fixed;
        padding-top: 20px;
        top: 0;
        right: 0;
        z-index: 1000;
        background-color: #fff;
        height: 100vh;
        overflow: auto;
        border-left: 1px solid #eee;
    }
    .sidebar.fixed-stat::-webkit-scrollbar {
        width: 0.5em;
      }

      .sidebar.fixed-stat::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.151);
      }
      .sidebar.fixed-stat::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
    
}


@media only screen and (min-width: 1440px) {
    .doc-cta .btn {
        width: 46%;
    }
}